.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App__Info {
  display: flex;
  justify-content: space-between;
  width: calc(100vmin - 100px);
}